@using Microsoft.AspNetCore.Identity
@using QuizApp.Models;

@inject UserManager<User> UserManager

<div id="react-app">
    @ViewData["name"]
</div>

@section scripts {
    <script src="~/dist/main.js" asp-append-version="true"></script>
}
